.general-list-item{
  position: relative;
  width: 100%;
  padding: 10px 25px;
  box-sizing: border-box;
  background-color: @color-primary-2;
  margin-top: 10px;
  overflow: hidden;
  cursor: pointer;

  .animator{
    position: absolute;
    .full-size;
    left: -100%;
    background-color: @color-primary-3;
    .transitioned;
  }

  &:hover .animator{
    left: 0%;
  }

  .content{
    position: relative;
    .full-size
  }

  .headline{
    font-size: 25px;
    color: white;

    input{
      display: inline-block;
      vertical-align: middle;

      outline: none;
      border: none;
      background: none;

      font-size: 25px;
      color: @color-white;

      text-align: right;
    }
    ::-webkit-input-placeholder { color: @color-white; opacity: .5;}
    :-moz-placeholder { color: @color-white; opacity: .5; }
    ::-moz-placeholder { color: @color-white; opacity: .5; }
    :-ms-input-placeholder { color: @color-white; opacity: .5; }
  }

  .byline{
    padding-left: 20px;
    color: white;
  }
}

.box-viewport{
  position: absolute;
  .full-size;
  background-color: @color-white;
  overflow: hidden;

  .box{
    position: absolute;
    .full-size;
    .transitioned;
    overflow-y: auto;
  }
}
